@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* .shadow-container {} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*button*/

.button {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navigation-button {
  min-width: 160px;
  /* height: 37px;  */
  box-sizing: border-box;
  background-color: #756157;
  padding: 8px 15px;
}

.search-hotel-button {
  width: 574px;
  min-height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  margin: 0 313px 93px 313px;
  padding: 12px 15px;
  /* переделать*/
}

.newsletter-button {
  min-width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 10px 10px 0;
  padding: 12px 15px;
  outline: none;
}

.apply-button {
  width: 160px;
  min-height: 48px;
  padding: 14px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
  min-width: 160px;
  height: 48px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
  padding: 20px 47px 0 47px;
  border: 3px solid transparent;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.favourites-button {
  width: 140px;
  min-height: 37px;
  padding: 12px 15px;
  /* переделать на авто по горизонтали*/
}

.in-favourites-button {
  width: 140px;
  min-height: 37px;
  background-color: #7DB54F;
  padding: 12px 15px;
}

.product-card-info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #756157;
  width: 140px;
  min-height: 37px;
  padding: 8px 15px;
  box-sizing: border-box;
  /* переделать на авто по горизонтали*/
}

.social-button {
  width: 48px;
  height: 40px;
}

/*button состояния*/

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: #615048;
}

.search-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68A2CA;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-info-button:hover,
.product-card-info-button:focus {
  background-color: #615048;
}

.product-card-info-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites-button:hover,
.favourites-button:focus {
  background-color: #68A2CA;
}

.favourites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.in-favourites-button:hover,
.in-favourites-button:focus {
  background-color: #6C9E42;
}

.in-favourites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.card-grid-toggle:not(.card-grid-toggle-current):hover {
  border: 2px solid #000000;
}

.card-grid-toggle:not(.card-grid-toggle-current):focus {
  border: 2px solid #68A2CA;
  outline: 0;
}

.card-grid-toggle:not(.card-grid-toggle-current):active {
  border: 2px solid #000000;
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.reset-button:active {
  opacity: 0.3;
}

.button-disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

/*header*/

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin-right: 70px;
}

.navigation-item {
  position: relative;
  padding: 0 20px;
  /* padding: 17px 20px; */
}

.navigation-user .navigation-item:nth-child(2)::after {
  position: absolute;
  content: "13";
  left: 24px;
  top: 15px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 17px 0;
  /* padding: 17px 20px; */
}

/* .navigation-link-current {
  border-bottom: 2px solid #756257;
  margin-bottom: -20px;
} */

.navigation-link-current::before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #756257;
}

/* .navigation-user .navigation-link {
  padding: 12px 24px;
} */

.navigation-logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*navigation-link состояния*/

.navigation-link:hover path,
.navigation-link:focus path {
  fill: #756157;
}

.navigation-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/*main*/

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-index-image {
  width: 1200px;
  height: 485px;
  background-image: url("../images/img-main-page/divider.svg"), url("../images/img-main-page/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 0 0;
  background-color: #756157;
  margin-bottom: 63px;
}

.main-index-image-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /*текст черный, фон белый у body*/
  margin-top: 0;
  margin-bottom: 31px;
}

/*advantages*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.first-advantage {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 768px;
}

.advantages-item {
  display: flex;
}

.advantages-image {
  display: block;
  width: 800px;
  height: 384px;
}

.advantages-item:nth-child(2) .advantages-image {
  order: -1;
}

.advantages-item-container {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages-text {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  /*текст черный, фон белый у body*/
  margin-bottom: 90px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 92px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(n+3) .advantages-title {
  margin-top: 102px;
}

.advantages-number {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 92px;
}

.advantages-item:nth-child(n+3) .advantages-description {
  margin-bottom: 102px;
}

.advantages-item:nth-child(-n+2) .advantages-item-container {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item:nth-child(2n+3) .advantages-item-container {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) .advantages-item-container {
  background-color: rgba(131, 179, 211, 0.20);
}

/*advantages-city*/

.advantages-city-list {
  display: flex;
  width: 1200px;
  background-color: #FFFFFF;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.advantages-city-item-container {
  width: 230px;
  display: block;
  margin: 0 auto;
}

.advantages-city-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-city-description {
  color: #333333;
  margin-top: 0;
  margin-bottom: 81px;
}

.advantages-city-item {
  width: 400px;
  min-height: 384px;
  background-position: top 80px center;
}

.advantages-city-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-city-item:nth-child(1) {
  background-image: url("../images/icons-main-page/housing.svg");
  background-repeat: no-repeat;
}

.advantages-city-item:nth-child(2) {
  background-image: url("../images/icons-main-page/food.svg");
  background-repeat: no-repeat;
}

.advantages-city-item:nth-child(3) {
  background-image: url("../images/icons-main-page/souvenirs.svg");
  background-repeat: no-repeat;
}

/*section search*/

.search {
  height: 417px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 91px 452px 30px 452px;
}

.search-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 304px 56px 304px;
}

/*footer*/
.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

/*section newsletter и newsletter-inner*/

.newsletter {
  width: 1200px;
  height: 411px;
  color: #FFFFFF;
  background-color: black;
  background-image: url("../images/img-main-page/background-for-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-inner {
  color: #000000;
  background-color: #FFFFFF;
  background-image: none;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 94px auto 30px;
}

.newsletter-title-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 46px;
}

.newsletter-inner-title-text {
  color: #333333;
}

.newsletter-form-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.newsletter-field {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 94px;
  padding: 0 22px;
  outline: none;
}

/*social*/

.footer-social-list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin-right: 210px;
}

.footer-social-link {
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-social-link:nth-child(1) {
  background-size: 24px 14px;
}

.footer-social-link:nth-child(21) {
  background-size: 18px 16px;
}

.footer-social-link:nth-child(3) {
  background-size: 22px 17px;
}

/*contacts*/

.footer-contacts {
  width: 350px;
  margin-right: 210px;
}

.footer-contacts-address-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*Academy-logo*/

.footer-academy {
  width: 120px;
}

/*footer состояния*/

.footer-social-link:hover path,
.footer-social-link:focus path {
  fill: #68A2CA;
}

.footer-social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-academy-link:hover path,
.footer-academy-link:focus path {
  fill: #756157;
}

.footer-academy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/*modal-window*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/icons-main-page/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
  border: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-buttons-container {
  width: 575px;
  display: flex;
  margin-bottom: 40px;
}

.field-group {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  margin: 0;
}

.guest-quantity-field-adult {
  width: 288px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

.guest-quantity-field-children {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.search-form-label-icon {
  position: relative;
  padding-right: 25px;
}

.search-form-field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.search-form-field:hover {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  line-height: 40px;
  background-color: #E6E6E6;
}

.search-form-field:focus {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  line-height: 40px;
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.search-form-field:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.search-form-field:active::placeholder {
  color: #000000;
  font-weight: 700;
  line-height: 40px;
  background-color: #FFFFFF;
}

.search-form-field:not(:placeholder-shown) {
  color: #000000;
  font-weight: 700;
  line-height: 40px;
  background-color: #FFFFFF;
}



.search-form-date-field {
  width: 420px;
  height: 50px;
  padding: 14px 45px 14px 19px;
  box-sizing: border-box;
  background-image: url("../images/img-modal/date.png");
  background-repeat: no-repeat;
  background-position: center right 19px;
}

.search-form-quantity-field {
  width: 133px;
  height: 50px;
  padding: 0;
  text-align: center;
}

.search-form-comments {
  font-size: 16px;
  color: #333333;
  margin: 0;
  margin-left: 155px;
  margin-bottom: 11px;
}

.warning-comments {
  color: #FF5757;
}

.modal-find-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  padding: 12px 26px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid transparent;
  background-color: #83B3D3;
}

.modal-find-button:hover {
  background-color: #68A2CA;
}

.modal-find-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.modal-find-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

.quantity-field {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-minus {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 25px;
  top: 13px;
  background-color: transparent;
  border: 3px solid transparent;
  box-sizing: border-box;
  fill: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-plus {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  background-color: transparent;
  border: 3px solid transparent;
  box-sizing: border-box;
  fill: rgba(0, 0, 0, 0.2);
}

.button-minus:hover,
.button-plus:hover {
  fill: #000000;
}

.button-minus:focus,
.button-plus:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
  fill: #000000;
  opacity: 1;
}

.button-minus:active,
.button-plus:active {
  fill: rgba(0, 0, 0, 0.2);
  border: none;
}

.field-group + .field-group {
  margin-bottom: 40px;
}

/* .date-button {
  position: absolute;
  top: 15px;
  right: 19px;
  border: none;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-container-close {
  display: none;
}

/*tooltip*/

.tooltip {
  position: absolute;
  margin-left: 54px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
  margin-right: 18px;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #756157;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/icons-modal/tooltip-triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*inner-page*/

.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 70px;
}

.products-filter {
  background-color: #82B3D3;
  background-image: url("../images/img-catalog/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 403px;
}



/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 72px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

/* .breadcrumbs-item:not(:last-child) .breadcrumbs-link {
  padding-right: 25px;
  background-image: url("../images/icons-catalog/arrow.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center right 10px;
} */

.breadcrumbs-item:not(:last-child) {
  padding-right: 25px;
  background-image: url("../images/icons-catalog/arrow.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center right 10px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

/*filter*/

/*catalog*/

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  margin-bottom: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  width: 151px;
  margin-left: 70px;
}

.catalog-filter-group:nth-child(2) {
  width: 146px;
  margin-right: 176px;
}

.catalog-filter-group:nth-child(3) {
  width: 288px;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-title:nth-child(3) {
  margin-bottom: 34px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: capitalize;
}

.search-result-title {
  min-width: 338px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 191px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}

.sorting-container {
  display: flex;
  margin: auto 72px;
  align-items: center;
}

.range {
  /* width: 288px; */
  position: relative;
}

.range-scale {
  position: absolute;
  width: 288px;
  height: 4px;
  top: 75px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 228px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
}

.catalog-filter-label {
  display: flex;
  margin: 0;
}

.range-input {
  width: 144px;
  box-sizing: border-box;
  color: #FFFFFF;
  font: inherit;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  appearance: textfield;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 19px;
  background-image: url("../images/img-catalog/text-input-1.png");
  background-repeat: no-repeat;
  background-position: center right 14px;
  opacity: 1;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  opacity: 0.6;
}

.range-input:focus {
  box-shadow: 0 0 0 3px #81B3D2,
    inset 0 0 0 3px #81B3D2;
  outline: none;
  z-index: 1;
}

.range-input:not(:placeholder-shown) {
  background-color: #756257;
  box-shadow: none;
}


.catalog-filter-label:nth-child(1) .range-input {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-child(2) .range-input {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label:nth-child(2) .range-input {
  background-image: url("../images/img-catalog/text-input-2.png");
  background-repeat: no-repeat;
  background-position: center right 17px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 40px;
  margin-bottom: 15px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: -1px;
  left: 5px;
  content: url("../images/icons-catalog/checkbox-arrow.svg")
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus {
  border: 3px solid #83B3D3;
}

input[type='number'] {
  -moz-appearance: textfield;
}


/*product*/

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 72px 96px 72px;
  padding: 0;
  column-gap: 18px;
}

.product-list::after {
  content: '';
  position: absolute;
  top: 1500px;
  bottom: 526px;
  /* left: 72px;
  right: 72px; */
  margin: 0 auto;
  width: 1055px;
  height: 1px;
  background-color: #E6E6E6;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-image-link {
  order: -1;
  margin: 20px 20px 16px;
}

.product-card-image {
  display: block;
  object-fit: contain;
}

.product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 20px 16px;
}

.product-card-title-link {
  text-decoration: none;
}

.product-card-text {
  color: #333333;
  margin: 0;
}

.product-card-price {
  color: #333333;
  margin: 0;
}

.product-stars {
  margin: auto 0;
  width: 89px;
  height: 17px;
  background-image: url("../images/icons-catalog/star.svg");
  background-repeat: space;
}

.product-card:nth-child(3) .product-stars {
  width: 66px;
}

.product-card:nth-child(4) .product-stars {
  width: 42px;
}

.product-rating {
  color: #333333;
  display: flex;
  width: 140px;
  min-height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.product-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  margin: 0 20px 20px;
}

.show-mode-list {
  display: flex;
  list-style-type: none;
}

.show-mode-item + .show-mode-item {
  margin-left: 8px;
}

/*pagination*/

.pagination-container {
  display: flex;
  margin: 0 72px;
}

.pagination-list {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px 13px 24px;
}

.pagination-item:last-child .pagination-link {
  padding: 12px 18px 13px 18px;
}

.pagination-disabled {
  color: #000000;
}

.pagination-item {
  border: 1px solid #82B3D3;
  border-radius: 4px;

  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/*pagination состояния*/

/* .pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
} */

.pagination-link:not(.pagination-disabled):hover,
.pagination-link:not(.pagination-disabled):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

/*select*/

.quantity-of-product-cards-title {
  margin-left: auto;
  margin-right: 51px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  appearance: none;
  background-image: url("../images/icons-catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-control {
  width: 290px;
  height: 49px;
  margin-left: 78px;
}

.quantity-control {
  width: 160px;
  height: 49px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
  outline: 0;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control-disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.info-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  line-height: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
