@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*button*/

.button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
}

.navigation-button {
  min-width: 160px;
  background-color: #756157;
  padding: 8px 15px;
}

.search-hotel-button {
  width: 574px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  margin: 0 313px 93px 313px;
  /* переделать*/
}

.newsletter-button {
  height: 60px;
  width: 200px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 10px 10px 0;
}

.apply-button {
  height: 48px;
  width: 161px;
}

.reset-button {
  height: 48px;
  width: 161px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.button-show-six {
  background-image: url("../images/icons-catalog/view-6.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background: #756157;
}

.button-show-one {
  background-image: url("../images/icons-catalog/view-1.svg");
  background-repeat: no-repeat;
}

.button-show-list {
  background-image: url("../images/icons-catalog/view-list.svg");
  background-repeat: no-repeat;
}

.favourites-button {
  width: 140px;
  min-height: 37px;
  /* переделать на авто по горизонтали*/
}

.in-favourites-button {
  width: 140px;
  min-height: 37px;
  background-color: #7DB54F;

}

.product-card-info-button {
  background-color: #756157;

  padding: 8px 15px;
  /* переделать на авто по горизонтали*/
}

.social-button {
  width: 48px;
  height: 40px;
}

/*header*/

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-item .navigation-link:nth-child(1) {
  padding-right: 34px;
}

.navigation-item .navigation-link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 38px;
  min-height: 30px;
}

.page-header-logo {
  margin-left: 70px;
  margin-right: 30px;
  z-index: 1;
}

/*main*/

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-index-image {
  width: 1200px;
  height: 485px;
  background-image: url("../images/img-main-page/divider.svg"), url("../images/img-main-page/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 0 0;
  background-color: #756157;
  margin-bottom: 63px;
}

.main-index-image-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /*текст черный, фон белый у body*/
  margin-top: 0;
  margin-bottom: 31px;
}

/*advantages*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.first-advantage {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 768px;
}

.advantages-item {
  display: flex;
}

.advantages-image {
  display: block;
  width: 800px;
  height: 384px;
}

.advantages-item:nth-child(2) .advantages-image {
  order: -1;
}

.advantages-item-container {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages-text {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  /*текст черный, фон белый у body*/
  margin-bottom: 90px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 92px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(n+3) .advantages-title {
  margin-top: 102px;
}

.advantages-number {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 92px;
}

.advantages-item:nth-child(n+3) .advantages-description {
  margin-bottom: 102px;
}

.advantages-item:nth-child(-n+2) .advantages-item-container {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item:nth-child(2n+3) .advantages-item-container {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) .advantages-item-container {
  background-color: rgba(131, 179, 211, 0.20);
}

/*advantages-city*/

.advantages-city-list {
  display: flex;
  width: 1200px;
  background-color: #FFFFFF;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.advantages-city-item-container {
  width: 230px;
  display: block;
  margin: 0 auto;
}

.advantages-city-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-city-description {
  color: #000000;
  margin-top: 0;
  margin-bottom: 81px;
}

.advantages-city-item {
  width: 400px;
  min-height: 384px;
  background-position: top 80px center;
}

.advantages-city-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-city-item:nth-child(1) {
  background-image: url("../images/icons-main-page/housing.svg");
  background-repeat: no-repeat;
}

.advantages-city-item:nth-child(2) {
  background-image: url("../images/icons-main-page/food.svg");
  background-repeat: no-repeat;
}

.advantages-city-item:nth-child(3) {
  background-image: url("../images/icons-main-page/souvenirs.svg");
  background-repeat: no-repeat;
}

/*section search*/

.search {
  height: 417px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 91px 452px 30px 452px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 304px 56px 304px;
}

/*footer*/
.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

/*section newsletter и newsletter-inner*/

.newsletter {
  color: #FFFFFF;
  background-color: black;
  background-image: url("../images/img-main-page/background-for-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 398px 30px 398px;
}

.newsletter-title-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 362px 46px 362px;
}

.newsletter-inner {
  color: #000000;
  background-image: none;
  width: 1200px;
}

.newsletter-form {
  display: flex;
  margin: 0 200px 94px 200px;
}

.newsletter-field {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
}

.newsletter-inner-field {
  background-color: #F2F2F2;
}

/*social*/

.footer-social-list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin-right: 210px;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-item:nth-child(1) {
  background-image: url("../images/icons-footer/social-vk.svg");
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(2) {
  background-image: url("../images/icons-footer/social-telegram.svg");
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(3) {
  background-image: url("../images/icons-footer/social-youtube.svg");
  background-repeat: no-repeat;
}

/*contacts*/

.footer-contacts {
  width: 350px;
  margin-right: 210px;
}

.footer-contacts-address-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*Academy-logo*/

.footer-academy {
  width: 120px;
}

/*inner-page*/

.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 10px;
}

.products-filter {
  background-color: #82B3D3;
  background-image: url("../images/img-catalog/background-filter.jpg");
  background-repeat: no-repeat;
}

/*catalog*/

.catalog-filter-group:nth-child(1) {
  width: 151px;
  margin-left: 70px;
}

.catalog-filter-group:nth-child(2) {
  width: 146px;
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

/*filter*/

.catalog-filter-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

.catalog-filter-item {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: capitalize;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 191px;
}

.sorting-container {
  display: flex;
  margin: 72px auto;
  /* padding: 50px 72px 56px; */
}

.filter-flex-container {
  display: flex;
}

/*product*/

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card {
  width: 340px;
}

.product-card:not(:nth-child(3n)) {
  margin-left: 18px;
}

.product-stars {
  background-image: url(../images/icons-catalog/star.svg),
    url(../images/icons-catalog/star.svg),
    url(../images/icons-catalog/star.svg),
    url(../images/icons-catalog/star.svg);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
}

.favourites {
  background-color: #7DB54F;
}

/*pagination*/

.pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-disabled {
  color: #000000;
}

.pagination-item {
  border: 1px solid #82B3D3;
  border-radius: 4px;
  padding: 12px 25px 13px 24px;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.quantity-of-product-cards-title {
  margin-left: auto;
  margin-right: 51px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.sorting-control {
  width: 290px;
  height: 49px;
}

.quantity-control {
  width: 160px;
  height: 49px;
}
